/*公共部分*/
body{padding: 0 !important;}
ul,ol{list-style-type: none;margin:0;padding:0;}
input, textarea{margin-bottom: 10px;}
.aw-load-more-content{display:block;overflow: hidden;height: 34px;line-height: 34px;margin: 15px auto;padding:0 10px;background-color: #737d89;border:1px solid #586069;color:#fff;text-align: center;cursor: pointer;border-radius: 3px;}
.aw-load-more-content:hover{color: #fff;}
.ht-sort-tags{display: inline-block;/*min-width: 90px;*/height: 28px;line-height: 28px;margin-bottom:10px;/*background: #f0f0f0;*/border-radius: 2px;font-size: 13px;color: #999999;}
.ht-sort-tags a{display:block;padding:0 10px;color: #999 !important;text-decoration: none;}
.ht-sort-tags a:hover{text-decoration: none;}
.ht-sort-tags b{margin-right: 5px;font-weight: normal;}
.btn-mini{min-width: 60px;padding:2px 6px;font-size:12px;font-weight: normal;}
.btn-small{min-width: 80px;padding:2px 6px;}
.btn-large{min-width:92px;padding:7px 0;font-size:14px;}
.btn-success{text-shadow:none;background-color: #ff937a;border:1px solid #de846a;color: #fff !important;}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {background-color: #ff8569;color: #fff;border:1px solid #de846a;}
.btn:hover, .btn:focus {background-position: 0 -40px;}
.ht-color-orange{color: #FF6D24;}

/*弹窗*/
.modal-box{position: fixed;left: 0;top: 0;width: 100%;display: none;}
.modal-box .bg{position: fixed;left: 0;top: 0;width: 100%;height: 100%;background:rgba(13, 13, 13, 0.95);transition:opacity 0.5s ease 0s;-webkit-transition:opacity 0.5s ease 0s;}
.modal-box .wrap{height:600px;position: relative;overflow-y:scroll;opacity:1;transition:transform 0.3s ease 0.1s, opacity 0.2s ease 0.1s;-webkit-transition:-webkit-transform 0.3s ease 0.1s, opacity 0.2s ease 0.1s;-webkit-transition-delay: 0.1s, 0.1s;}
.modal-box .content{position: relative;padding: 25px 0;overflow: hidden;}
.modal-box .wrap article{/*position: absolute;*/left: 25px;right: 25px;bottom: 154px;margin:0 20px;padding:0 18px;background: #343434;border: 1px solid #141414;box-shadow: 0 1px 0 #494949 inset;border-radius: 3px;transform:translateY(-50%);-webkit-transform:translateY(-50%);transition:transform 0.3s ease 0.1s, opacity 0.2s ease 0.1s;-webkit-transition:-webkit-transform 0.3s ease 0.1s, opacity 0.2s ease 0.1s;opacity: 0;}
.modal-box .wrap article a{display:block;width:100%;padding:10px 0;color: #fff;font-size: 15px;text-align: center;border-bottom:1px solid #282828;box-shadow: 0 1px 0 #494949 inset;text-decoration: none;cursor: pointer;}
.modal-box .wrap article a:first-child{border-top: none;}
.modal-box .wrap article a:last-child{border-bottom: none;}
.modal-box footer{position:fixed;bottom:0;left:0;width:100%;height:80px;background: rgba(13, 13, 13, 0.95);border-top: 1px solid #000000;box-shadow: 0 1px 0 #494949 inset;border-radius: 3px;}
.modal-box footer span{display:block;height:39px;line-height:39px;margin:25px 20px 0;background: #343434;border: 1px solid #141414;box-shadow: 0 1px 0 #494949 inset;border-radius:3px;text-shadow:0 1px 1px black;color: #fff;text-align: center;text-decoration: none;cursor: pointer;}
.modal-box.render{display: block;}
.modal-box.active .bg{opacity: 1;}
.modal-box.active article{opacity: 1;transform:translateY(0px);-webkit-transform:translateY(0px);}
.modal-box.active footer{transform:translateY(0px);-webkit-transform:translateY(0px);}

/*导航*/
.ht-nav{background: #5F6871;}
.ht-nav h1{margin:0;}
.i-list{display: block;width: 38px;height: 36px;margin:13px 10px 0;background: url(images/list.png) no-repeat;border-radius: 7px;border:none;}
.ht-nav-list{margin-right: 20px;}
.ht-nav-list ul{margin: 0;}
.ht-nav-list ul li a{display: block;height: 36px;line-height: 36px;padding-left: 10px;font-size: 16px;}
.login-bar{position: absolute;right: 60px;top:20px;}
.login-bar a{margin:0 5px;font-size: 14px;color: #fff;}

/*首页列表*/
.ht-index-list, .ht-category-list{padding-top:10px;background-color: #F2F2F2;}
.ht-index-list .ht-mod-body{margin-bottom: 10px;}
.ht-index-list h2, .ht-category-list h2, .ht-question-detail h2{font-size: 100%;line-height: 20px;margin:10px 0 0 0;}
.ht-index-list h2 a, .ht-category-list h2 a, .ht-category-list .ht-mod a, .ht-question-detail a{color: #333;}
.ht-index-list h2 a span, .ht-category-list h2 a span, .ht-category-list .ht-mod a span, .ht-question-detail a span, .ht-question-detail .ht-mod h1 span{color: #ff6d24;}
.ht-index-list .ht-dynamic-list-img{text-align: center;}
.ht-index-list .ht-dynamic-list-img img, .ht-category-list .ht-mod .ht-mod-head img{max-width: 100%;}
.ht-category-list .ht-mod .ht-mod-head{padding-top: 10px;}
.ht-dynamic-list{margin:0;padding:0;}
.ht-dynamic-list > li, .ht-category-list ul > li{margin-top:10px;border:1px solid #ccc;border-radius: 3px;background-color: #fff;}
.ht-dynamic-list li:first-child, .ht-category-list li:first-child{margin-top: 0px;}
.ht-dynamic-list li .ht-mod-head, .ht-dynamic-list li .ht-mod-body, .ht-category-list li .ht-mod-head, .ht-category-list li .ht-mod-body{padding:0 10px;}
.ht-dynamic-list li .ht-mod-footer, .ht-category-list li .ht-mod-footer{line-height:38px;border-top: 1px solid #ccc;background-color: #f9f9f9;}
.ht-dynamic-list li .ht-mod-footer .btn-success{vertical-align: 1px;}
.ht-category-list li .ht-mod-footer .btn-success{margin-right: 10px;}
.ht-dynamic-list li .ht-mod-footer .icon-shopping-cart{margin-right: 5px;}
.ht-dynamic-list li .ht-mod-footer a.more, .ht-dynamic-list li .ht-mod-footer a.pack-up{position:relative;display: block;width: 25px;height: 25px;margin:5px 5px 0 0 ;background-color:#fff;border:1px solid #ccc;border-radius: 3px;}
.ht-dynamic-list li .ht-mod-footer a .icon-chevron-down, .ht-dynamic-list li .ht-mod-footer a .icon-chevron-up{position: absolute;left: 5px;top:5px;color: #999;}
.ht-dynamic-list li .ht-sort-tags{margin:0;}
.ht-index-list p, .ht-category-list p{word-break:break-all;}
.ht-dynamic-list-content p{margin:0;}
.ht-dynamic-list-content p a, .ht-dynamic-list-content h3 a{color: #FF6D24;}
.ht-dynamic-list .ht-dynamic-list-content-box{height:88px;overflow:hidden;margin-top: 10px;}
.ht-dynamic-list .ht-dynamic-list-content-box.active{height: auto !important;overflow: visible !important;}

/*分类列表*/

/*详情页*/
.ht-question-detail .ht-mod h1, .ht-question-detail .ht-mod h2{font-weight: bold;line-height: 24px;}
.ht-question-detail .ht-mod h1{font-size: 20px;}
.ht-question-detail .ht-mod h2{font-size: 16px;}
.ht-question-detail .ht-mod .ht-mod-body{border-bottom: 1px dashed #ccc;}
.ht-question-detail .ht-mod .ht-mod-footer{margin-top:5px;}
.ht-question-detail ol{padding-left:20px;list-style-type: decimal;}
.ht-comment-list{padding-bottom: 20px;}
.ht-comment-list h3{margin-top:20px;font-size: 16px;line-height: 20px;}
.ht-comment-list ul{margin:0;padding:0;}
.ht-comment-list ul li{margin-bottom:10px;padding-top:5px;border-top:1px dashed #e6e6e6;}
.ht-comment-list ul li:first-child{border-top:none;}
.ht-comment-list ul li p{margin:0;}
.ht-comment-list .ht-comment-opera a{margin-left:10px;}
.aw-comment-upload-img-list{margin-bottom: 10px;}
.aw-comment-upload-img-list img{max-width: 95%;margin-top:10px;}
.ht-question-detail .ht-sort-tags{vertical-align: -3px;}
.ht-question-detail .btn-success{color: #fff;}

/*登陆页面*/
.aw-login-wrap{padding:0 10px;}
.login-body{background: #5F6871;}
.aw-login-wrap > h1 {padding: 0 0 10px;}
.aw-login-box {position: relative;top: 10px;}
.aw-login-box .aw-mod-head {height:76px;line-height:76px;padding-left:50px;background-color: #e77d61;border-radius: 10px 10px 0 0;font-size: 16px;color: #fff;}
.aw-login-box .aw-mod-body {background: none repeat scroll 0 0 #F5F5F5;border-left: 1px solid #C9C9C9;border-right: 1px solid #C9C9C9;padding: 40px;}
.login-body ul{margin: 0;padding:0;}
.login-body ul li input{width: 100%;height: 40px;line-height: 40px;}
#loading {background: #000;width: 40px;height: 40px;-webkit-border-radius: 5px;border-radius: 5px;position: fixed;top: 50%;left: 50%;margin: -20px 0 0 -20px;opacity: 0.8;z-index: 10001;}
#loading_box {width: 40px;height: 40px;background-image: url('images/loading.png');}

/* 字体icon */
.icon-heart-empty, .icon-comment-alt{margin-right:5px;font-size: 17px;}
.icon-heart-empty{vertical-align: -1px;color: #f67776;}
.icon-heart-empty.active:before{content:"\f004";}
.icon-comment-alt{color: #339cde;}
.icon-shopping-cart{font-size: 14px;}
.icon-thumbs-up-alt{margin-right: 5px;}

/* 登陆注册页面 */
.b-new-user{width: 164px;height: 44px;line-height: 44px;margin:17px 40px 0 0;background-color: #f78f72;border:1px solid #e07254;border-radius: 10px;color: #fff;text-align: center;}
.b-new-user:hover{background:#fd9673;color: #fff;text-decoration: none;}
