<?php TPL::output('global/header.tpl.htm'); ?>
<div class="aw-container-wrap">
	<div class="aw-container aw-wecenter ht-container">
		<div class="row aw-content-wrap ht-content-wrap ht-dynamic-index">
			<div class="col-xs-12 col-sm-9 aw-main-content ht-trade-content">
				<div class="aw-mod aw-question-box-mod">
					<div class="aw-mod-body">
						<div class="aw-question-list">
							<?php foreach($this->question_list as $key => $val) { ?>
							<div class="aw-item">
								<?php if ($val['anonymous'] == 0) { ?><a class="aw-user-name" data-id="<?php echo $val['user_info']['uid']; ?>" href="people/<?php echo $val['user_info']['url_token']; ?>" rel="nofollow"><img src="<?php echo get_avatar_url($val['user_info']['uid'], 'max'); ?>" alt="" /></a><?php } else { ?><a class="aw-user-name" href="javascript:;"><img src="<?php echo G_STATIC_URL; ?>/common/avatar-max-img.png" alt="<?php _e('匿名用户'); ?>" title="<?php _e('匿名用户'); ?>" /></a><?php } ?>
								
								<div class="aw-questoin-content">
									<!-- 问题标题 -->
									<h4>
										<a href="question/<?php echo $val['question_id']; ?>"><?php echo $val['question_content']; ?></a>
										<?php foreach ($val['topics'] AS $t_key => $t_val) { ?>
											<a href="topic/<?php echo $t_val['url_token']; ?>" class="aw-topic-name" data-id="<?php echo $t_val['topic_id']; ?>"><span><?php echo $t_val['topic_title']; ?></span></a><?php } ?>
									</h4>
									<!-- end 问题标题 -->
										<span class="aw-text-color-999">

											
											<?php if ($val['answer_count'] > 0) { ?>
											<?php if ($val['answer']['anonymous']) { ?>
												<a href="javascript:;" class="aw-user-name"><?php _e('匿名用户'); ?></a><?php } else { ?><a href="people/<?php echo $val['answer']['user_info']['url_token']; ?>" class="aw-user-name" data-id="<?php echo $val['answer']['user_info']['uid']; ?>"><?php echo $val['answer']['user_info']['user_name']; ?></a><?php } ?>  • <?php echo date_friendly($val['update_time']); ?> • <?php _e('%s 人关注', $val['focus_count']); ?> • <?php _e('%s 个回复', $val['answer_count']); ?> • <?php _e('%s 次浏览', $val['view_count']); ?>
											<?php } else { ?>
											<?php if ($val['anonymous'] == 0) { ?>
												<a href="people/<?php echo $val['user_info']['url_token']; ?>" class="aw-user-name"><?php echo $val['user_info']['user_name']; ?></a><?php } else { ?><a href="javascript:;" class="aw-user-name" data-id="<?php echo $val['uid']; ?>"><?php _e('匿名用户'); ?></a><?php } ?> • <?php echo date_friendly($val['add_time']); ?> • <?php _e('%s 人关注', $val['focus_count']); ?> • <?php _e('%s 个回复', $val['answer_count']); ?> • <?php _e('%s 次浏览', $val['view_count']); ?>
											<?php } ?>
										</span>
								</div>
							</div>
							<?php } ?>
						</div>
						<?php echo $this->pagination; ?>
					</div>
				</div>
			</div>
			<!-- 侧边栏 -->
			 <div class="col-xs-12 col-sm-3 aw-side-bar">


				<?php tpl::output('block/sidebar_tutorials.tpl.htm')?>

				<?php if (sizeof($this->hot_topics) > 0) { ?>
				<div class="aw-side-bar-mod">
					<div class="aw-side-bar-mod-head">
						<h3>热门标签</h3>
					</div>
					<div class="aw-side-bar-mod-body">
						<div class="ht-sort-tags-list">
							<?php foreach($this->hot_topics AS $key => $val) {?>
								<a href="topic/<?php echo $val['url_token']; ?>" class="aw-topic-name ht-topic-name" data-id="<?php echo $val['topic_id']; ?>"><span><?php echo $val['topic_title']; ?></span></a>
							<?php } ?>
						</div>
					</div>
				</div>
				<?php } ?>

				<?php tpl::output('block/sidebar_suggest_follow.tpl.htm')?>

				<div class="aw-side-bar-mod ht-buy-list">
					<div class="aw-side-bar-mod-head">
						<h3>公告与活动</h3>
					</div>
					<div class="aw-side-bar-mod-body">
						<ul>
						<li><a href="http://www.123haitao.com/t/17399" target="_blank">财付通和海倍网合作的晒单有奖活动正式开始啦！</a></li>
						<li><a href="http://www.123haitao.com/t/16728" target="_blank">极客海淘网友积分计划（试运行）</a></li>
						</ul>
					</div>
				</div>
				<div class="aw-side-bar-mod ht-buy-list">
					<div class="aw-side-bar-mod-head">
						<h3>别人都在买什么？</h3>
					</div>
					<div class="aw-side-bar-mod-body">
						<?php echo get_setting('slidebar_whats_are_we_buy'); ?>
					</div>
				</div>

				<?php tpl::output('block/sidebar_social_follow.tpl.htm')?>

				<?php tpl::output('block/sidebar_friendly_link.tpl.htm')?>				
				<?php tpl::output('block/sidebar_transport.tpl.htm')?>

				<?php tpl::output('block/sidebar_ad.tpl.htm')?>
				
			</div>
			<!-- end 侧边栏 -->
		</div>
	</div>
</div>

<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
function bp_more_load_callback()
{
	$('#bp_more').attr('href', G_BASE_URL + '/' + $('#bp_more').attr('data-url').replace('{page}', _bp_more_pages['bp_more']));
}

$(document).ready(function () {
	$('.ht-dynamic-list-content img').hide();
	
	bp_more_load(G_BASE_URL + '/home/ajax/index/<?php if ($this->feature_info) { ?>id-<?php echo $this->feature_info['url_token']; ?><?php } ?>', $('#bp_more'), $('#bp_contents'), <?php echo $this->ajax_start_page; ?>, bp_more_load_callback);

	/* 中秋专题滚动功能 */
	topic_rolling();

});
</script>

<?php TPL::output('global/footer.tpl.htm'); ?>